*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Gilroy";
}
#main{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
   animation: nikhil 1s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
#nav a{
    font-size: 20px;
    margin-left: 100px;
    text-decoration: none;

}
a:hover{
    color:#000;
}
#box1{
    position: absolute;
    top: 70px;
    left: 50px;
    width: 220px;
    height: 220px;
    background-image: url(https://images.unsplash.com/photo-1544965850-6f8a66788f9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEzfHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}
#box1>h2{
    font-size: 40px;
   margin-top: 100px;
   margin-left: 50px;
}

#box2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 220px;
    height: 220px;
    background-image: url(https://images.unsplash.com/photo-1470240731273-7821a6eeb6bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIxfHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}
#box3{
    position: absolute;
    top: 65%;
    right:50px;
    width: 220px;
    height: 220px;
    background-image: url(https://images.unsplash.com/photo-1469827160215-9d29e96e72f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI5fHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}
#text
{   
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}
#text>h1{
    font-family: "Voyage";
    font-weight: 200;
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 7vw;
}
@keyframes nikhil {
    form{
        margin-top: 40px;
        opacity: 1;
    }
    to{
        margin-bottom: 0px;
    }
    
}
#text>a{
    animation: nikhil 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}